@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
}

section.carousel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 28px 34px;
  overflow: hidden;
}

.carousel__featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: calc(100vw - 240px);
}

.carousel__featured .featured__image {
  max-height: 60vh;
  max-width: 100%;
}

.carousel__thumbnails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 27px;
}

.carousel__thumbnails .thumbnail__image {
  width: 100%;
  height: auto;
  max-height: 342px;
}

button.carousel__button {
  position: absolute;
  top: 0;
  width: 93px;
  height: 100vh;
  background: center no-repeat url('./images/chevron.svg'), #ff00c7;
  opacity: 0.3;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

button.carousel__button.carousel__previous {
  left: 0;
}

button.carousel__button.carousel__next {
  right: 0;
  transform: rotate(180deg);
}
